.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 1.2rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 430px) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.single-product {
  margin-top: 1rem;
  .left-side {
    position: relative;
    height: 100vh;
  }
}
